{% comment %}
  Renders a product content (title, description, price...)

  Accepts:
  - product: {Object} Product info,

  Usage:
  {% render 'pd-content-block', product: {...} %}
{% endcomment %}

{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

{% assign info = 'Description|Elevate your dining experience with the Nordic Dining Chair, a perfect blend of timeless design and modern craftsmanship. Made from solid oak, this chair showcases the natural beauty of the wood with its smooth grain and warm finish. The ergonomic design ensures comfort for long meals and gatherings, while its minimalist silhouette complements any interior style.;Dimensions|Materials: Solid oak Finish: Natural matte Dimensions: W: 45 cm D: 50 cm H: 85 cm Seat Height: 47 cm Weight: 6 kg;Shipping a Returns|We ship your furniture securely within 14 business days. Delivery times vary by location, and tracking details are provided upon dispatch. International orders may incur customs fees.' %}

<div block="pd-content">
  <div class="general-info">
    <div class="price">
      <span class="original-price">{{ price | default: 0 | money }}</span>
      {% if compare_at_price %}
        <div class="compare-at-price">{{ compare_at_price | default: 0 | money }}</div>
      {% endif %}
    </div>
    <div class="about">
      <h1 class="title">{{ product.name }}</h1>
      <p class="subtitle">{{ product.description }}</p>
    </div>
    {% if product.options.size > 0 %}
      {% render 'ui-variants' %}
    {% endif %}
    {% if product.isTrackingInventory %}
      {% render 'ui-inventory-status', count: default_variant.inventory, threshold: 10 %}
    {% endif %}
    {% render 'ui-express-checkout' %}
    <div class="cta">
      <div class="quantity">
        <button ui-button data-variant="tertiary" data-size="md" as-icon aria-label="minus" disabled>
          {% render 'ui-icon', name: 'remove' %}
        </button>
        <span class="value">1</span>
        <button ui-button data-variant="tertiary" data-size="md" as-icon aria-label="plus">
          {% render 'ui-icon', name: 'add' %}
        </button>
      </div>
      {% if settings.checkout_type == 'express' %}
        <button ui-button data-variant="primary" data-size="md" class="add-to-cart">
          {{ 'product.buy_button.express_checkout.place_order' | t }}
        </button>
      {% else %}
        <button ui-button data-variant="primary" data-size="md" class="add-to-cart">Add to cart</button>
      {% endif %}
    </div>
    {% for block in section.blocks %}
      {% if block.type == 'whatsapp_button' %}
        {% render 'ui-whatsapp',
          type: 'cta',
          number: block.settings.whatsapp_number,
          message: block.settings.whatsapp_message,
          youcan_attributes: block.youcan_attributes
        %}
      {% endif %}
    {% endfor %}
  </div>
  {% render 'ui-accordion', name: product.id, items: section.blocks %}

  {% assign has_social = false %}
  {% for block in section.blocks %}
    {% if block.type == 'social' %}
      {% assign has_social = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if has_social %}
    <ul class="social-info">
      {% for block in section.blocks %}
        {% if block.type == 'social' %}
          {% render 'social-block',
            target_arrow: true,
            type: block.settings.social_name,
            href: block.settings.social_link,
            youcan_attributes: block.youcan_attributes
          %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
